#login, #password{
    width: 230px;
}

.form-group{
    margin-left: 30%;
}

.input-group{
    margin-left: 30% !important;
}

.btn{
    margin-top: 10px;
    width: 230px;
    margin-left: 30% !important;
}

.img1{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 38px;
    width: 38px;
    padding: 0px !important;
    margin: 0px !important;  
}

.my-btn1{
    position: relative;
    padding: 0px 7px 0px 40px !important;
    border-radius: 0px 4px 4px 0px;
    height: 38px;  
    border: none; 
}

.img2{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 38px;
    width: 38px;
    padding: 0px !important;
    margin: 0px !important;  
}

.my-btn2{
    position: relative;
    padding: 0px 7px 0px 40px !important;
    border-radius: 0px 4px 4px 0px;
    height: 38px;  
    border: none; 
}

h5{
    margin-left: 40%;
}

.error{
    color: red;
    margin-left: 30%;
    width: 230px;
}

input.ng-invalid.ng-dirty{
    border-color: red;
}

.forget-password{
    margin-left: 30%;
    
}

.fp-button{
    width: 70px;
    margin-left: 0px !important;
    
}

.fp-inner{
    width: 230px;
    margin-top: 10px !important;
}

.fp-inner-hide{
    display: none;
}

.fp-inner-show{
    display: block;  
}

.fp-a {
    
    color: blue !important;
    text-decoration: underline !important;
}
.fp-a:hover, .fp-a:active {
    opacity: 0.5;
}

